.bigCircleButton {
    display: flex;
    justify-content: center!important;
    align-items: center!important;
    background-color: transparent;
    border: none;
    font-size: 35px;
    border-radius: 50%;
    padding: 15px;
    color: black;
    margin-top: 3px;
    margin-bottom: 3px;
}

.bigCircleButton:hover {
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

@-webkit-keyframes swing {
    15% {
      -webkit-transform: translateX(5px);
      transform: translateX(5px);
    }
  
    30% {
      -webkit-transform: translateX(-5px);
      transform: translateX(-5px);
    }
  
    50% {
      -webkit-transform: translateX(3px);
      transform: translateX(3px);
    }
  
    65% {
      -webkit-transform: translateX(-3px);
      transform: translateX(-3px);
    }
  
    80% {
      -webkit-transform: translateX(2px);
      transform: translateX(2px);
    }
  
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  
  @keyframes swing {
    15% {
      -webkit-transform: translateX(5px);
      transform: translateX(5px);
    }
  
    30% {
      -webkit-transform: translateX(-5px);
      transform: translateX(-5px);
    }
  
    50% {
      -webkit-transform: translateX(3px);
      transform: translateX(3px);
    }
  
    65% {
      -webkit-transform: translateX(-3px);
      transform: translateX(-3px);
    }
  
    80% {
      -webkit-transform: translateX(2px);
      transform: translateX(2px);
    }
  
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }

.scrollToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color:rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
}

.hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}