.card {
    border-radius: var(--bs-border-radius);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16), 0 2px 6px rgba(0, 0, 0, 0.23);
    transition: 0.3s;
    margin: 5px;
}

.card:hover {
    box-shadow: 0 8px 28px rgba(0, 0, 0, 0.25), 0 8px 10px rgba(0, 0, 0, 0.22);
  }

.cardFooter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: var(--bs-secondary) !important;
}

.cardButton {
    margin-left: auto;
}

.cardImage {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: var(--bs-border-radius) var(--bs-border-radius) 0 0!important;
}

.themeCard {
    width: 100%;
    max-width: 400px!important;
}

.themeCardHeader {
    border-radius: var(--bs-border-radius) var(--bs-border-radius) 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    height: 200px;
}
/* On sm screen */
@media screen and (max-width: 576px) {
    .cardFooter {
        flex-direction: column;
    }

    .cardButton {
        margin-left: 0;
    }
}