.show {
    display: block;
    margin-top: 10px;
}

.hide {
    display: none;
}

.icon {
    transition: transform 0.3s ease-in-out;
}

.rotate {
    transform: rotate(180deg);
    margin-left: 10px;
}

.noRotate {
    transform: rotate(0deg);
    margin-left: 10px;
}

.heading {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    font-size: 19px!important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headingContainer{
    cursor: pointer;
    user-select: none;
}