.pageContainer{
    width: 100%;
    margin: 0!important;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.menuContainer{
    width: calc(100% + 40px);
    background-color: #7e7e7e50;
    margin-left:-20px;
    padding: 20px;
}

.fullContainer{
    width: 100%;
    margin: 0!important;
    padding: 0!important;
    padding-left: 20px !important;
    padding-right: 20px !important;
}