.footer{
    width: 100%;
    background-color: var(--bs-dark);
    color: var(--bs-light);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.socialContainer{
    background-color: var(--bs-dark);
    padding: 4px;
}

[data-bs-theme="dark"] .socialContainer{
    background-color: var(--bs-dark-bg-subtle);
}
.footerContainer{
    background-color: #7e7e7e50;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

@media screen and (max-width: 767px) {
    .footer{
        margin: 0!important;
        border-radius: 0px;
    }

    .footerContainer{
        width: 100%!important;
        max-width: 100%!important;
        margin: 0!important;
        border-radius: 0px;
    }

    .socialContainer{
        width: 100%!important;
        max-width: 100%!important;
    }
}