.cardText {
    font-size: .875em;
    height: 200px;
    max-height: 200px;
    overflow-y: auto;
}

.waiter{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;

}

.gitlabEvent{
    border-bottom: rgba(128, 128, 128, 0.3) 1px solid;
    padding: 1rem 1rem;
    position: relative;
    min-height: 3.75rem;
    background-color: transparent;
}

.gitlabEvent:hover,
.gitlabEvent:focus{
    cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}

.gitlabEventTitle{
    margin-bottom: 10px;
    line-height: 1.3;
}

.gitlabEventMessage{
    font-size: 0.75em;
    /* Reduce linespace */
    line-height: 1.3;
    margin-bottom: 4px;
}

.gitlabEventDate{
    font-size: 0.75em;
    color: var(--bs-secondary);
}