.header {
    background-color: #604482;
    background-image: url(/background/asfalt.png);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px 15px 0px 0px;
    color: white;
    text-shadow: 5px 3px 2px rgba(80, 80, 80, 0.5);
    text-align: center;
    font-family: "Dosis", "Nunito", sans-serif;
}
.title {
    font-weight: 900 !important;
    font-size: 40px;
}

@media screen and (max-width: 767px) {
    .header{
        margin: 0!important;
        border-radius: 0px;
    }
}