.loader {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: var(--bs-body-bg);
    background-image: url(/background/whitey.png);
}

.marginTop {
    height: calc(100% - 62px) !important;
    margin-top: 62px !important;
}

.loaderContainer {
    position: relative;
    display: block;
    width: 50px;
    height: 200px;
    margin: 0 auto;
}

.tube {

    position: relative;
    width: 50px;
    height: 160px;
    background-color: #aedffcbe;
    border: 3px solid #aedffcbe;
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box;
    border-top: none;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
}

.tubeHead {
    position: relative;
    width: 64px;
    height: 20px;
    left: -6px;
    background-color: #aedffcbe;
    border-radius: 12%;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
}

.liquid {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0;
    background-color: #0082c3;
    animation: fill 4s infinite alternate;
}

.surface {
    position: absolute;
    bottom: calc(100% - 10px);
    width: 200%;
    height: 20px;
    background: #0082c3;
    border-radius: 50%;
    animation: wave 2s infinite linear alternate;
}

.bubble {
    position: absolute;
    bottom: 15%;
    left: 30%;
    width: 12px;
    height: 12px;
    background-color: rgb(94, 172, 218, 0);
    border-radius: 50%;
    animation: bubble 4s infinite;
}

.bubble:nth-child(2) {
    left: 20%;
    bottom: 20%;
    width: 13px;
    height: 13px;
    animation-delay: 0.3s;
}

.bubble:nth-child(3) {
    left: 50%;
    bottom: 28%;
    width: 14px;
    height: 14px;
    animation-delay: 0.6s;
}

.bubble:nth-child(4) {
    left: 40%;
    bottom: 40%;
    width: 15px;
    height: 15px;
    animation-delay: 0.9s;
}

.topBubble {
    position: absolute;
    bottom: 105%;
    left: 30%;
    width: 12px;
    height: 12px;
    background-color: #0082c3;
    opacity: 0;
    border-radius: 50%;
    animation: topBubble 4s infinite;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.topBubble:nth-child(2) {
    left: 55%;
    bottom: 112%;
    animation-delay: 0.3s;
    width: 13px;
    height: 13px;
    background-color: #0082c3;
}

.topBubble:nth-child(3) {
    left: 40%;
    bottom: 123%;
    animation-delay: 0.6s;
    width: 15px;
    height: 15px;
    background-color: #0082c3;
}

@keyframes fill {
    0% {
        height: 55%;
    }

    100% {
        height: 70%;
    }
}

@keyframes wave {
    0% {
        transform: translateX(-5%);
    }

    100% {
        transform: translateX(-45%);
    }
}

@keyframes bubble {
    0% {
        opacity: 1;
        background-color: rgb(255, 255, 255);
        transform: translate(0, 0);
    }

    50% {
        transform: translate(0, -20px);
    }

    100% {
        opacity: 0;
    }
}

@keyframes topBubble {
    0% {
        opacity: 0;
    }

    38% {
        opacity: 0;
    }

    55% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.loaderText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Roboto", sans-serif;
    color: var(--bs-body);
    padding-top: 30px;
    font-size: 20px;
    font-weight: 500;
}

.loaderCredits {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Roboto", sans-serif;
    color:  var(--bs-body);
    font-size: 12px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loaderLogo {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.loaderBrand {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}

.loaderDate {
    font-size: 12px;
    font-weight: 400;
}

/* On small screens, adapt the credits */
@media screen and (max-width: 576px) {
    .loaderCredits {
        flex-direction: row !important;
    }

    .loaderLogo {
        width: 30px;
        margin-right: 15px;
        margin-bottom: 0px;
    }

    .loaderBrand {
        text-align: left
    }
}