.cardText {
    font-size: .875em;
    height: 300px;
    max-height: 400px;
    overflow-y: auto;
}

.mt-container {
    overflow-x: hidden;
    background-color: transparent;
    color: var(--bs-body-color)!important;
}

.mt-post-txt {
    color: var(--bs-body-color)!important;
}

.mt-post{
    padding: 1rem 1rem;
    margin: 0!important;
    border-bottom: rgba(128, 128, 128, 0.3) 1px solid;
}

.mt-post-header-user > a {
    text-decoration: none!important;
    color: var(--bs-primary)!important;
}

.mt-post-header-user > a:hover {
    text-decoration: none!important;
    color: var(--bs-primary)!important;
}

.mt-container .mt-post-header-user:hover .mt-post-header-user-name {
    text-decoration: none!important;
  }

.mt-post:hover,
.mt-post:focus{
    cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}

.mt-post-header{
    margin-bottom: 4px;
}

.mt-body {
    padding: 0px !important;
}

.mt-post-header-user-account {
    font-size: 12px;
}

.mt-post-txt {
    margin-bottom: 0px;
}