.h2 {
    font-family: "Dosis", "Nunito", sans-serif;
    font-weight: 700;
    color: #333333;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 32px;
}

[data-bs-theme="dark"] .h2 {
    color: #fff;
}

.h2::after {
    content: "";
    display: block;
    background: #2a7ab4;
    width: 70px;
    height: 8px;
    border-radius: 4px;
    margin-top: 5px;
}

.h3 {
    font-family: "Dosis", "Nunito", sans-serif;
    padding-top: 20px;
    padding-bottom: 8px;
    color: #333333;
    font-weight: 600;
    text-align: left;
    font-size: 22px;
  }

[data-bs-theme="dark"] .h3 {
    color: #fff;
}