.Navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: var(--bs-dark);
}

.Brand {
    color: #ffffff !important;
}

/*
.mainNavDropdown > div {
     margin-top: 11px!important; 
}
*/

.mainNavLink {
    color: #ffffff !important;
}

.mainNavDropdown>a {
    color: #ffffff !important;
}

.NavbarContainer {
    margin-right: 0px !important;
    margin-left: 0px !important;
    width: 100% !important;
    max-width: 100% !important;
}

.Brand {
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 7px;
    font-family: "Dosis", "Nunito", sans-serif;
    font-weight: 700;
}

.NavDropdownItemText {
    margin-right: 5px;
}

.NavDropdownItemLabel {
    text-transform: uppercase;
    color: #6c757d;
    font-size: 0.8rem;
    padding-top: 0px;
    padding-bottom: 0px;
}

.NavDropdownItemTextMuted {
    text-transform: uppercase;
    color: #6c757d;
    font-size: 0.8rem;
}

/* Secondary dropdown */

.SecondaryNavDropdown {
    color: var(--bs-body-color);
    width: 100%;
    background-color: transparent !important;
    border: none !important;
    border-radius: 0 !important;
    padding-left: 16px !important;
    padding-right: 16px !important;
    padding-top: 4px;
    padding-bottom: 4px;
    /* Flush left */
    text-align: left;
}

.SecondaryNavDropdownContent {
    color: var(--bs-body-color);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.SecondaryNavDropdownText {
    color: var(--bs-body-color);
    text-align: left;
}

@media (max-width: 991px) {
    .SecondaryNavDropdownMenu {
        border: none !important;
    }
}

/* Hover in navbar */

.SecondaryNavDropdown:hover,
.NavDropdownItem:hover {
    background-color: rgba(133, 133, 133, 0.2) !important;
}