.cardMessages{
    padding:0!important;
    max-height: 400px;
    overflow-y: auto;
}

.message{
    padding: 20px;
    border-bottom: var(--bs-border-width) solid var(--bs-border-color-translucent);
}

.message:hover{
    background-color: var(--bs-secondary-bg);
}

.iframe{
    width: 100%;
    height: 800px;
    border: none;
    border-radius: var(--bs-border-radius);
    padding: 10px;
    background-color: white;
}