.commentsList {
  max-height: 600px;
    overflow-y: auto;
}

.commentsCounter {
  font-size: 1rem!important;
  font-weight: 700;
  margin-left: 1rem;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


#blogContent h2 {
  font-size: 30px;
  font-family: "Dosis", sans-serif;
  margin-top: 40px;
  margin-bottom: 20px;
}

#blogContent h3 {
  font-size: 22px;
  font-family: "Dosis", sans-serif;
}

.figure-img {
  max-width: 100%;
  height: auto;
  border-radius: var(--bs-border-radius);
}

.figure-img:hover {
  cursor: pointer;
  transition: transform 0.2s;
  transform: scale(1.05);
}


.image-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  animation: fadeIn 0.3s forwards;
}

.modal-content {
  position: relative;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  margin: 20px;
  padding: 10px;
  background-color: #fff;
  border-radius: var(--bs-border-radius);
  animation: zoomIn 0.3s forwards;
  max-width: 90%;
  max-height: 100vh;
  overflow: hidden;
}

.modal-image {
  max-width: 100%;
  max-height: 95vh;
  width: auto;
  height: auto;
  object-fit: contain;
}

.close {
  position: fixed;
  top: 10px;
  right: 20px;
  color: white;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  z-index: 999;
}

/* Animations */
@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes zoomIn {
  from {
      transform: scale(0);
  }
  to {
      transform: scale(1);
  }
}