.error_container{
    position:relative; 
    height:350px;
    
}

.error_ghost{
    position: absolute;
    margin: 0 auto;
    z-index:1;
    font-size: 250px;
    font-weight: 900;
    left: 50%;
    transform: translateX(-50%);
    color: lightgray;
}

.error_text {
    position: absolute;
    margin: 0 auto;
    font-size: 5rem;
    color: transparent;
    white-space: nowrap;
    font-weight:800;
    top:170px;
    left: 50%;
transform: translateX(-50%);
     z-index:2;
  }
  .error_text .glitch1,
  .error_text .glitch2 {
    position: absolute;
    top: 0;
    left: 0;
  }
  .error_text::before,
  .error_text::after,
  .error_text .glitch2::before,
  .error_text .glitch2::after,
  .error_text .glitch1::before,
  .error_text .glitch1::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    color: gray;
    z-index: 1;
    pointer-events: none;
    mix-blend-mode: multiply;
  }
  .error_text .glitch2::before {
    color: cyan;
    animation: trans4 3.2s infinite;
    z-index: -1;
    clip-path: inset(63% 0 0 0);
  }
  .error_text .glitch2::after {
    color: magenta;
    animation: trans5 3.2s infinite;
    z-index: -1;
    clip-path: inset(63% 0 0 0);
  }
  .error_text::before {
    clip-path: inset(0 0 43% 0);
    animation: trans6 3.2s infinite;
    color: gray;
  }
  .error_text::after {
    clip-path: inset(63% 0 0 0);
  }
  .error_text .glitch1::before {
    clip-path: inset(57% 0 43% 0);
    animation: trans2 .8s steps(1, start) infinite;
    animation-fill-mode: both;
    animation-delay: 0.2s;
    color: gray;
  }
  .error_text .glitch1::after {
    clip-path: inset(58% 0 38% 0);
    animation: trans1 .8s steps(1, start) infinite;
    animation-fill-mode: both;
    color: gray;
  }
  
  @keyframes trans1 {
    0% {
      transform: translateX(-1%);
    }
    20% {
      transform: translateX(0.5%);
    }
    40% {
      transform: translateX(-0.3%);
    }
    60% {
      transform: translateX(0.6%);
    }
    90% {
      transform: translateX(0.8%);
    }
    100% {
      transform: translateX(-1%);
    }
  }
  @keyframes trans2 {
    0% {
      transform: translateX(5%);
    }
    20% {
      transform: translateX(2.5%);
    }
    55% {
      transform: translateX(1.8%);
    }
    60% {
      transform: translateX(2.6%);
    }
    80% {
      transform: translateX(2.8%);
    }
    100% {
      transform: translateX(3%);
    }
  }
  @keyframes trans3 {
    0% {
      transform: translateX(1%);
    }
    20% {
      transform: translateX(1.1%);
    }
    45% {
      transform: translateX(1.3%);
    }
    70% {
      transform: translateX(1.4%);
    }
    90% {
      transform: translateX(0.6%);
    }
    100% {
      transform: translateX(1.3%);
    }
  }
  @keyframes trans4 {
    0% {
      transform: translateX(0%);
    }
    60% {
      transform: translateX(0.5%);
    }
    60.001% {
      transform: translateX(0.3%);
    }
    100% {
      transform: translateX(0.3%);
    }
  }
  @keyframes trans5 {
    0% {
      transform: translateX(0%);
    }
    60% {
      transform: translateX(-0.5%);
    }
    60.001% {
      transform: translateX(-0.3%);
    }
    100% {
      transform: translateX(-0.3%);
    }
  }
  @keyframes trans6 {
    0% {
      transform: translateX(0.6%);
    }
    60% {
      transform: translateX(1.1%);
    }
    60.001% {
      transform: translateX(0.9%);
    }
    100% {
      transform: translateX(1.3%);
    }
  }

/* PULSE */

@-webkit-keyframes pulse {
    0% {
      -webkit-transform: translateY(3%);
      transform: translateY(3%);
    }
  
    50% {
      -webkit-transform: translateY(-3%);
      transform: translateY(-3%);
    }
  
    100% {
      -webkit-transform: translateY(3%);
      transform: translateY(3%);
    }
  }
  
  @keyframes pulse {
    0% {
      -webkit-transform: translateY(3%);
      -ms-transform: translateY(3%);
      transform: translateY(3%);
    }
  
    50% {
      -webkit-transform: translateY(-3%);
      -ms-transform: translateY(-3%);
      transform: translateY(-3%);
    }
  
    100% {
      -webkit-transform: translateY(3%);
      -ms-transform: translateY(3%);
      transform: translateY(3%);
    }
  }
  
  .faaPulse.animated,
  .faaPulse.animated-hover:hover,
  .faa-parent.animated-hover:hover > .faaPulse {
    -webkit-animation: pulse 6s linear infinite;
    animation: pulse 6s linear infinite;
  }