.signature {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    text-align: right;
}

.menuBadgeDiv {
    display: inline-block;
    margin:4px;
}

.menuLink {
    text-decoration: none;
    color: white!important;
}

.menuLink:hover {
    text-decoration: none;
    color: white!important;
}

.newsCheckList {
    padding-left: 0;
    list-style-type: none;
    max-height: 350px;
    overflow-y: auto;
}