.mainLogin{
    height: 100vh;
    width: 100%;
    padding: 40px;
}

.loginCard{
    width: 400px;
    margin: 0 auto;
}

.logoContainer{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 80px;
}

.logo{
    width: 100px;
    height: 100px;
}

@media (max-width: 768px){
    .logoContainer{
        display: none;
    }

    .loginCard{
        width: 100%;
        margin-top: 40px;
    }
}

.validText{
    color: var(--bs-form-valid-color);
}

.invalidText{
    color: var(--bs-form-invalid-color);
}