.title{
    text-shadow: 5px 2px 2px rgba(20, 20, 20, 0.5);
    text-align: center;
}

.lightTitle{
    font-weight: 400;
    font-size: 40px;
}

.boldTitle{
    font-weight: 800;
    font-size: 40px;
}

.titleContainer{
    text-shadow: none;
    font-family: 'Roboto', sans-serif;
}

.headImage{
    width: 95%;
    max-width: 1000px;
    height: auto;
    border-radius: var(--bs-border-radius);
}

.image{
    width: 80%;
    max-width: 400px;
    height: auto;
    border-radius: var(--bs-border-radius);
}

.downloadButton{
    font-size: 60px;
}