.mainView {
    height: 100vh;
    width: 100%;
    padding: 40px;
}

.downloadContainer{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.downloadCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 300px;
}

.fileIcon {
    font-size: 5rem;
    color: var(--bs-secondary);
}

.shareMenu {
    position: absolute;
    left: 100%;
    top: 0;
}

.toolBar {
    display: flex;
    flex-direction: column;
    z-index: 100;
    position: fixed;
    bottom: 20px;
    left: 20px;
}

.toolBtn {
    font-size: 20px
}

.pageFlipViewWrapper {
    display: none;
    height: 100vh;
}

.pageFlipView {
    max-height: 90vh;
    height: 90vh;
    margin: auto;
}

.pageControls {
    position: fixed;
    bottom: 20px;
    left: calc(50% - 75px);
    width: 150px;
}

/* On sm screen */
@media (max-width: 576px) {
    .toolBar {
        flex-direction: row;
    }

    .toolBtn {
        font-size: 15px
    }

    .pageControls {
       bottom: 80px;
    }
}